@use '@/styles/color-variables.scss' as vars;

.about {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 68px);
  background-color: vars.$gray-50;

  @media screen and (max-width: 768px) {
    min-height: calc(100vh - 104px);
  }
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  margin-top: 28px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: vars.$gray-600;
  font-size: 16px;
  line-height: 1.5;
  max-width: 700px;

  p {
    margin: 0;
  }

  p:not(:first-of-type) {
    margin: 10px 0;
  }

  a {
    color: vars.$gray-600;
    text-decoration: underline;
  }

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.photo {
  border-radius: 12px;

  @media screen and (max-width: 768px) {
    width: 250px;
    height: 100%;
  }
}