@use '@/styles/color-variables.scss' as vars;
.menu {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: vars.$gray-default;
}

.menu_active {
  display: block;
}

.closeButton {
  width: 30px;
  height: 30px;
  background-image: url('../../../images/closeIcon.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 20px;
  top: 12px;
}