@use '@/styles/color-variables' as vars;

.linksContainer {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-right: 1px solid vars.$gray-100;

  li:last-child {
    margin-right: 24px;
  }

  @media screen and (max-width: 768px) {
    gap: 10px;

    li:last-child {
      margin-right: 10px;
    }
  }
}

.link {
  display: block;
  color: vars.$gray-600;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  transition: color .2s ease-in;
  padding: 6px 0;

  &:hover {
    color: vars.$gray-900;
  }

  &_active {
    color: vars.$gray-900;
  }

  @media screen and (max-width: 768px) {
    font-size: 10px;
    padding: 0;
  }
}